<h2>Добавить запись в блог:</h2>

<form action="/new" method="POST">
  <div class="form-group">
    <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
   </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>